.meme-form {
    width: 100%;
    padding: 150px 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.meme-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-field-con {
    display: flex;
    gap: 20px;
}

.input-field-con input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    width: 230px;
    height: 35px;
    text-indent: 10px;
}

.btn-con button {
    border-radius: 5px;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    width: 477px;
    height: 40px;
    color: #fff;
    border: none;
    font-family: "Karla", sans-serif;
    cursor: pointer;
}

.meme-image {
    max-width: 100%;
}